@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #191919;

		--primary: #00db9a;
		--primary-light: #96f2d6;

		--secondary: #8932f3;
		--secondary-light: #bb86fc;

		--border: #5858587c;
	}
}

html {
	color: white;
}
